bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Back_End.dll
bin
obj
/obj
/bin/Debug/netcoreapp3.1
bin/Debug/netcoreapp3.1/Back_End.deps.json
bin/Debug/netcoreapp3.1/Back_End.dll
bin/Debug/netcoreapp3.1/Back_End.pdb
obj/Back_End.csproj.nuget.dgspec.json
obj/Back_End.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
