bin/Debug/netcoreapp3.1/Back_End
bin/Debug/netcoreapp3.1/Back_End.dll
bin/Debug/netcoreapp3.1/Back_End.pdb
bin/Debug/netcoreapp3.1/Back_End.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Google.Apis.Auth.dll
bin/Debug/netcoreapp3.1/Google.Apis.Auth.PlatformServices.dll
bin/Debug/netcoreapp3.1/Google.Apis.Core.dll
bin/Debug/netcoreapp3.1/Google.Apis.dll
bin/Debug/netcoreapp3.1/Google.Apis.Sheets.v4.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
obj/Back_End.csproj.nuget.dgspec.json
obj/Back_End.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/Back_End
obj/Debug/netcoreapp3.1/Back_End.assets.cache
obj/Debug/netcoreapp3.1/Back_End.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Back_End.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Back_End.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Back_End.dll
obj/Debug/netcoreapp3.1/Back_End.pdb